@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0e141b;
  color: #fff;
}

* {
  font-family: 'Lato', sans-serif;
}

.freestyle-script {
  font-family: 'freestyle script', cursive;
}

.bookman {
  font-family: 'bookman old style', serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: currentColor;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.blur {
  filter: blur(5px);
  transition: filter 0.7s ease-in-out;
}

.fade-in {
  filter: none;
  transition: filter 1s ease-in-out;
}
